# Print

In [1]:
# String = Alphabetical Data (str)
# Integer = Numbers (int)
# Float = decimal (float)

In [2]:
print("My name is Salman")

My name is Salman

In [3]:
print(123)

123

In [5]:
print("123")

123

In [4]:
print(23.6)

23.6

In [7]:
type("123")

str

In [8]:
type(123)

int

In [9]:
type(23.54)

float

In [10]:
# Variables

In [11]:
name = "My name is ..."

In [13]:
name

'My name is ...'

In [1]:
num1 = 5

In [2]:
num2 = 10

In [4]:
total = num1 + num2

In [5]:
total

15

In [10]:
total = total - 10

In [18]:
total * 2

10

In [23]:
total

5

In [24]:
total + 2 / 3

5.666666666666667

In [25]:
# BODMAS

# B = Bracket
# O = Open
# D = Divide
# M = Multiplication
# A = Addition
# S = Subtraction

In [28]:
statement = 50 / (12 / 3 * 2 + 1 + (8 * 4 / 3)) + 1 * 2

In [30]:
statement

4.5423728813559325

In [33]:
firstname = 10

In [35]:
# % Modulus Operator

In [36]:
ans = 12 % 2

In [37]:
ans

0

In [38]:
ans = 13 % 2

In [39]:
ans

1

In [40]:
14 % 2

0

In [41]:
15 % 2

1

In [42]:
15 % 3

0

In [71]:
first_name = "Salman"

In [76]:
last_name = "Zakir"

In [84]:
first_name + last_name

'SalmanZakir'

In [91]:
age = 50

In [93]:
stat = first_name + last_name + str(age)

In [94]:
stat

'SalmanZakir50'

In [95]:
# str() convert datatype to string

In [100]:
age = "50"

In [104]:
age = int(age)

In [106]:
age = "salman"

In [87]:
fullname = f"{first_name} jgbakjsdbf {last_name} my age {age}"

In [88]:
fullname

'Salman jgbakjsdbf Zakir my age 50'

In [119]:
species = "dog"

In [120]:
if species == "cat":
    print("Yes its a cat")
    
elif species == "dog":    
    print("yes its a dog")
    
else:
    print("No its not a cat or dog")

yes its a dog

In [ ]:
# == equals to
# <= less than equals
# >= greater than or equals