In [1]:
# Tupple

In [5]:
tupple = ("abc", "xyz", "efg", "efg")

In [6]:
tupple

('abc', 'xyz', 'efg', 'efg')

In [7]:
# For Loops

In [38]:
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [39]:

cities = ['karachi', 'Lahore', 'Islamabad']

In [40]:
for i in cities:
    print(i)

karachi
Lahore
Islamabad

In [43]:
for i in range(10, 20):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [45]:
cleanist_city = "Lahore"
cities = ['karachi', 'Lahore', 'Islamabad']

In [46]:
if cities[1] == cleanist_city:
    print("Yes, It's a cleanist city")

Yes, It's a cleanist city

In [47]:
for i in cities:
    if i == cleanist_city:
        print("Yes, It's a cleanist city") 
    
    else:
        print(i, "is not a cleanist city")

karachi is not a cleanist city
Yes, It's a cleanist city
Islamabad is not a cleanist city

In [48]:
# Nested Loop

In [54]:
firstNames = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
lastNames = [1, 2, 3, 4, 5, 6, 7]
thirdNames = ['x', 'y', 'z', 'j', 'q', 'r', 'i']

In [55]:
for first in firstNames:
    for last in lastNames:
        for third in thirdNames:
            print(first, last, third)

a 1 x
a 1 y
a 1 z
a 1 j
a 1 q
a 1 r
a 1 i
a 2 x
a 2 y
a 2 z
a 2 j
a 2 q
a 2 r
a 2 i
a 3 x
a 3 y
a 3 z
a 3 j
a 3 q
a 3 r
a 3 i
a 4 x
a 4 y
a 4 z
a 4 j
a 4 q
a 4 r
a 4 i
a 5 x
a 5 y
a 5 z
a 5 j
a 5 q
a 5 r
a 5 i
a 6 x
a 6 y
a 6 z
a 6 j
a 6 q
a 6 r
a 6 i
a 7 x
a 7 y
a 7 z
a 7 j
a 7 q
a 7 r
a 7 i
b 1 x
b 1 y
b 1 z
b 1 j
b 1 q
b 1 r
b 1 i
b 2 x
b 2 y
b 2 z
b 2 j
b 2 q
b 2 r
b 2 i
b 3 x
b 3 y
b 3 z
b 3 j
b 3 q
b 3 r
b 3 i
b 4 x
b 4 y
b 4 z
b 4 j
b 4 q
b 4 r
b 4 i
b 5 x
b 5 y
b 5 z
b 5 j
b 5 q
b 5 r
b 5 i
b 6 x
b 6 y
b 6 z
b 6 j
b 6 q
b 6 r
b 6 i
b 7 x
b 7 y
b 7 z
b 7 j
b 7 q
b 7 r
b 7 i
c 1 x
c 1 y
c 1 z
c 1 j
c 1 q
c 1 r
c 1 i
c 2 x
c 2 y
c 2 z
c 2 j
c 2 q
c 2 r
c 2 i
c 3 x
c 3 y
c 3 z
c 3 j
c 3 q
c 3 r
c 3 i
c 4 x
c 4 y
c 4 z
c 4 j
c 4 q
c 4 r
c 4 i
c 5 x
c 5 y
c 5 z
c 5 j
c 5 q
c 5 r
c 5 i
c 6 x
c 6 y
c 6 z
c 6 j
c 6 q
c 6 r
c 6 i
c 7 x
c 7 y
c 7 z
c 7 j
c 7 q
c 7 r
c 7 i
d 1 x
d 1 y
d 1 z
d 1 j
d 1 q
d 1 r
d 1 i
d 2 x
d 2 y
d 2 z
d 2 j
d 2 q
d 2 r
d 2 i
d 3 x
d 3 y
d 3 z
d 3 j
d 3 q
d 3 r
d 3 i
d 4 x
d 4 y
d 4 z
d 4 j
d 4 q
d 4 r
d 4 i
d 5 x
d 5 y
d 5 z
d 5 j
d 5 q
d 5 r
d 5 i
d 6 x
d 6 y
d 6 z
d 6 j
d 6 q
d 6 r
d 6 i
d 7 x
d 7 y
d 7 z
d 7 j
d 7 q
d 7 r
d 7 i
e 1 x
e 1 y
e 1 z
e 1 j
e 1 q
e 1 r
e 1 i
e 2 x
e 2 y
e 2 z
e 2 j
e 2 q
e 2 r
e 2 i
e 3 x
e 3 y
e 3 z
e 3 j
e 3 q
e 3 r
e 3 i
e 4 x
e 4 y
e 4 z
e 4 j
e 4 q
e 4 r
e 4 i
e 5 x
e 5 y
e 5 z
e 5 j
e 5 q
e 5 r
e 5 i
e 6 x
e 6 y
e 6 z
e 6 j
e 6 q
e 6 r
e 6 i
e 7 x
e 7 y
e 7 z
e 7 j
e 7 q
e 7 r
e 7 i
f 1 x
f 1 y
f 1 z
f 1 j
f 1 q
f 1 r
f 1 i
f 2 x
f 2 y
f 2 z
f 2 j
f 2 q
f 2 r
f 2 i
f 3 x
f 3 y
f 3 z
f 3 j
f 3 q
f 3 r
f 3 i
f 4 x
f 4 y
f 4 z
f 4 j
f 4 q
f 4 r
f 4 i
f 5 x
f 5 y
f 5 z
f 5 j
f 5 q
f 5 r
f 5 i
f 6 x
f 6 y
f 6 z
f 6 j
f 6 q
f 6 r
f 6 i
f 7 x
f 7 y
f 7 z
f 7 j
f 7 q
f 7 r
f 7 i
g 1 x
g 1 y
g 1 z
g 1 j
g 1 q
g 1 r
g 1 i
g 2 x
g 2 y
g 2 z
g 2 j
g 2 q
g 2 r
g 2 i
g 3 x
g 3 y
g 3 z
g 3 j
g 3 q
g 3 r
g 3 i
g 4 x
g 4 y
g 4 z
g 4 j
g 4 q
g 4 r
g 4 i
g 5 x
g 5 y
g 5 z
g 5 j
g 5 q
g 5 r
g 5 i
g 6 x
g 6 y
g 6 z
g 6 j
g 6 q
g 6 r
g 6 i
g 7 x
g 7 y
g 7 z
g 7 j
g 7 q
g 7 r
g 7 i

In [56]:
name = "salman"

In [57]:
name = name.upper()

In [58]:
name

'SALMAN'

In [60]:
name = name.lower()

In [61]:
name

'salman'

In [62]:
name = name.capitalize()

In [63]:
name

'Salman'

In [64]:
# Dictionaries

In [65]:
dictionary = {'firstName' : 'a', 'lastName' : 'b', "age" : 12}

In [72]:
dictionary['lastName'] = "z"

In [73]:
dictionary

{'firstName': 'a', 'lastName': 'z', 'age': 12}

In [74]:
dictionary['address'] = "xyz"

In [75]:
dictionary

{'firstName': 'a', 'lastName': 'z', 'age': 12, 'address': 'xyz'}

In [76]:
del dictionary['address']

In [77]:
dictionary

{'firstName': 'a', 'lastName': 'z', 'age': 12}

In [79]:
for i in dictionary.keys():
    print(i)

firstName
lastName
age

In [81]:
for i in dictionary.values():
    print(i)

a
z
12

In [84]:
for key, value in dictionary.items():
    print(key, value)

firstName a
lastName z
age 12

In [85]:
# List of Dictionaries

In [97]:
database = [
    {
       'firstName': 'a', 'lastName': 'x', 'age': 12 
    },
    {
        'firstName': 'b', 'lastName': 'y', 'age': 14
    },
    {
        'firstName': 'c', 'lastName': 'z', 'age': 16
    }
]

In [99]:
database.append(
    {'firstName': 'ab', 'lastName': 'xy', 'age': 19}
)

In [101]:
del database[3]

In [103]:
database[1]['address'] = "xyz"

In [105]:
database[1]['lastName'] = "xyz"

In [106]:
database

[{'firstName': 'a', 'lastName': 'x', 'age': 12},
 {'firstName': 'b', 'lastName': 'xyz', 'age': 14, 'address': 'xyz'},
 {'firstName': 'c', 'lastName': 'z', 'age': 16}]